
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#carousel-container {
    width: 95%;
    height: 600px;
    display: block;
    margin-left: 50px; 
    margin-top: -180px;
}

#select-category-text {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

#final-category-area {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #ffffff;
    margin-left: 275px;
    transition: margin-left 0.1s ease, width 0.1s ease; 
    width: calc(100% - 300px); 
    max-height: 100vh;
}


#main-sidebar {
    width: 275px;
    background-color: #053856;
    color: white;
    padding: 20px;
    transition: none;
    z-index: 2;
    overflow-y: auto; 
    max-height: 100vh; 
    position: fixed;
}

#main-sidebar.hidden {
    transform: translateX(-330px); 
    transition: transform 0.3s ease;
}

#main-sidebar::-webkit-scrollbar {
    width: 8px;
}

#main-sidebar::-webkit-scrollbar-thumb {
    background-color: #85b2c9; 
    border-radius: 10px; 
}

#main-sidebar::-webkit-scrollbar-track {
    background-color: #34495e; 
}

/* Scrollbar styling for Firefox */
#main-sidebar {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #85b2c9 #34495e; /* Thumb color and track color */
}

#penultimate-sidebar {
    width: 275px;
    height: 100%;
    background-color: #ecf0f1;
    color: black;
    padding: 20px;
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.2s ease;
    z-index: 0;
    overflow-y: auto;
    max-height: 100vh;
}

/* Penultimate sidebar scrollbar styling */
#penultimate-sidebar::-webkit-scrollbar {
    width: 8px;
}

#penultimate-sidebar::-webkit-scrollbar-thumb {
    background-color: #85b2c9; 
    border-radius: 10px; 
}

#penultimate-sidebar::-webkit-scrollbar-track {
    background-color: #34495e; 
}

/* Scrollbar Firefox */
#penultimate-sidebar {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #85b2c9 #34495e; /* Thumb color and track color */
}

#penultimate-sidebar.visible {
    transform: translateX(315px);
    z-index: 1; 
}

#penultimate-sidebar.show {
    transform: translateX(0); 
    z-index: 1; 
}

#penultimate-categories {
    margin-top: 50px; 
    margin-bottom:50px;
    padding-top: 10px;  
}

.sidebar-button {
    position: absolute;
    right: 4px; 
    width: 15px;
    height: auto;
    opacity: 0.25;
    top: 50%; 
    transform: translateY(-50%);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    z-index: 2; 
}

.sidebar-button:hover {
    opacity: 1;
}

#final-category-area {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #ffffff;
    margin-left: 275px;
    transition: margin-left 0.1s ease, width 0.1s ease; 
    width: calc(100% - 300px); 
    max-height: 100vh;
}

/* Final category area scrollbar styling */
#final-category-area::-webkit-scrollbar {
    width: 8px;
}

#final-category-area::-webkit-scrollbar-thumb {
    background-color: #85b2c9; 
    border-radius: 10px; 
}

#final-category-area::-webkit-scrollbar-track {
    background-color: #34495e; 
}

/* Scrollbar styling for Firefox */
#final-category-area {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #85b2c9 #34495e; /* Thumb color and track color */
}

#final-categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    justify-items: center; 
    padding-bottom: 20px;
    transition: grid-template-columns 0.1s ease; 
}

#final-category-area.shifted {
    margin-left: 540px; 
    width: calc(100% - 1200px); 
}

#final-categories.few-columns {
    grid-template-columns: repeat(3, 1fr); 
}

#final-categories.more-columns {
    grid-template-columns: repeat(5, 1fr); 
}

#final-categories div {
    display: flex;
    width: 120px;
    margin-top: 70px;
    margin-left: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: none; 
}

#final-categories div:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); 
}

#final-categories img {
    width: 100px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

#final-categories a {
    display: block;
    font-size: 12px;
    color: #2c3e50;
    text-decoration: none;
}

#final-categories a:hover {
    color: #81A3B7; /* Optional hover effect */
}

.main-category {
    width: 250px; 
    height: 35px; 
    display: flex; 
    align-items: center; 
    justify-content: flex-start;
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #053856; 
    color: white; 
    text-align: center; 
    border-radius: 3px; 
    margin-bottom: -8px; 
    cursor: pointer;
    font-size: 15px;
}

#main-categories {
    list-style-type: none;
    padding: 0;
    margin-bottom: 350px;  
}

.penultimate-category {
    width: 250px;
    height: 30px;
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    padding-left: 1px;
    background-color: #ecf0f1;
    color: #2d2d2d; 
    text-align: center;
    border-radius: 3px;
    margin-bottom: 10px; 
    cursor: pointer;
    font-size: 15px;
}

#search-button {
    position: fixed;
    top: 20px;
    left: 350px;
    width: 50px;
    height: 50px;
    background-image: url('magnifying_glass.png');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 2px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 100; /* Ensure it stays above other elements */
}

#search-bar {
    display: none; /* Initially hidden */
    position: fixed;
    top: 20px;
    left: 350px;
    height: 40px;
    width: 300px;
    border: 2px solid #053856;
    border-top-left-radius: 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 25px;
    padding: 5px 10px;
    background-color: white;
    z-index: 100;
    display: flex;
    align-items: center;
}

#search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
}

/* Magnifying glass button hover effect */
#search-button:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#minimize-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Rotate the minimize icon on hover */
#minimize-icon:hover {
    transform: rotate(90deg);
}


#search-button.shift-right, #search-bar.shift-right {
    left: 650px; 
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    cursor: pointer;
}

.main-category:hover {
    background-color: #81A3B7;
    color: white; 
}

.penultimate-category:hover {
    background-color: #c3c9cb;
    color: #053856; 
}

#go-back {
    margin-bottom: 20px;
    cursor: pointer;
}
